html {
	scroll-behavior: smooth;
	position: relative;
	min-height: 100%;
	overflow: hidden;
}

body {
	margin: auto;
	max-width: 640px;
	line-height: 1.4;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	color: white;
	background-color: #141414;
}

#latestOutput {
	white-space: pre-wrap;
	padding: 14px;
	color: yellow;
	opacity: 0.6;
}

#decryptedTextOutput {
	white-space: pre-wrap;
	padding: 14px;
	opacity: 0.6;
}

#passwordInput {
	opacity: 0;
}
