html {
	scrollbar-width: none;
}

body {
	margin: auto;
	max-width: 640px;
	line-height: 1.4;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	color: white;
	background-color: #141414;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    font-family: Arial, sans-serif;
}

#logo {
    max-width: 100px;
    height: auto;
}

#title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
}

#latestOutput {
	white-space: pre-wrap;
	padding: 14px;
	color: yellow;
	opacity: 0.6;
}

#decryptedTextOutput {
	white-space: pre-wrap;
	padding: 14px;
	opacity: 0.6;
}

#passwordInput {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
