html {
	scrollbar-width: none;
}

body {
	margin: auto;
	max-width: 640px;
	line-height: 1.4;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	color: white;
	background-color: #141414;
}

#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333333;
}

#logo {
    max-width: 100px;
    height: auto;
}

#titleContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: right;
	opacity: 0.8;
    margin-right: 10px;
}

#title {
    font-size: 24px;
}

#description {
	font-size: 18px;
    margin-top: 5px;
}

#latestOutput {
	white-space: pre-wrap;
	padding: 14px;
	color: yellow;
	opacity: 0.6;
}

#decryptedTextOutput {
	white-space: pre-wrap;
	padding: 14px;
	opacity: 0.6;
}

#passwordInput {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
